body {
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 12px;
}
div#header>h1>a, div#header>h4>a {
    text-decoration: none;
    color:#000000;
}
/* PAGE STRUCTURE */
div#header {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    display: table;
    background: white;
}
div#menu {
    position: absolute;
    top: 50px;
    left: 0px;
    height: 50px;
    width: 100%;
    display: table;
    table-layout: fixed;
    border-spacing: 40px 0px;
    background: white;
    font-size: 8px;
}

div#content {
    position: absolute;
    top: 90px;
    left: 50px;
    right: 50px;
}

div#footer {
    position: absolute;
    /*bottom: 20px;*/
    left: 50px;
    right: 50px;
    height: 30px;
    border-top:1px solid #ccc;
}

/* HEADER */
.logo_img{
    /*display: table-cell;*/
    vertical-align: middle;
    height:50px;
    width: 64px;
    padding-left:20px;
}
.maintitle {
    display: table-cell;
    vertical-align: middle;
    color: #000000;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}

.welcome {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-right: 20px;
    color: #000000;
    font-weight: normal;
    font-size: 12px;
}

.welcome a:link, .welcome a:visited {
    color: white;
}

/* MENU */
#menu,#menu ul,#menu ul li,#menu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#menu {
  border-bottom: 1px solid #333333;
  padding: 0 5px;
  width: auto;
  font-family: 'Roboto Slab', serif;
  background: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#menu:after,#menu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#menu ul li {
  display: inline-block;
}
#menu.align-right ul li {
  float: right;
}
#menu.align-center ul {
  text-align: center;
}
#menu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
  color: burlywood;
}
#menu ul li:hover a,
#menu ul li a:hover,
#menu ul li.active a {
  color: #333333;
}
@media all and (max-width: 640px) {
  #menu {
    padding: 0;
    border-radius: 0;
    border: 0;
  }
  #menu ul li,
  #menu.align-center,
  #menu.align-right {
    display: block;
  }
}

/*div#menu a:link, div#menu a:visited {*/
    /*color: #000000;*/
/*}*/

/*div#menu > li {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*!*border: 2px solid #bbb;*!*/
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*background: white;*/
/*}*/
/*div#menu > li a:visited {*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
    /*!*border: 2px solid #bbb;*!*/
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*background: burlywood;*/
/*}*/

/* pulldown menu */
div#menu li  ul {
    display:none;
    position:absolute;
    margin: 0;
    padding:10px 10px 5px 10px;
    list-style:none;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: white;
    z-index: 1;
}

div#menu li:hover ul {
    display:block;
}

/* LINK */
a:link, a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* TABLE */
table {
    border-collapse: collapse;
}

td, th {
    line-height: 18px;
    border-bottom: 1px solid #eee;
    vertical-align: top;
    padding: 5px 15px;
    font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}
