div#content_home {
    position: absolute;
    top: 110px;
    left: 110px;
    right: 110px;
}

div#homeimg {
    position: absolute;
    background: #ddd;
    padding: 10px 0 1px 0;
}
div#home_text{
    margin: auto;
    text-align: center;
}
/*div#products{*/
    /*position: absolute;*/
/*}*/
div.product{
    /*제품들을 수평으로 정렬하기 위한 작업!*/
    text-align:center;
}
