div#content_home {
    position: relative;
     width: 100%;
    text-align: center;
    top: 110px;
    height:1550px; /*푸ㅜ터가 너무 안내려가서 이거저거해보다가 여기 height를 지정하면 내려가네..맞는방법은 아닌데 일단은 이렇게 해두겠음*/
    /*left: 110px;*/
    /*right: 110px;*/
}

.cycle-slideshow {
    text-align:center; /*cycle-pager를 가운데정렬하기 위함(은빈)*/
    width: 100%;
    min-width: 100px;
    max-width: 400px;  /*이거 왜 설정해놓은거야? 이미지는 400인데 부모가 300이라서 가운데정렬이 제대로 안됨 이거 늘린다*/
    margin: 10px auto;
    padding: 0;
    position: relative;
}
.cycle-pager {
    display:inline-block;
    /*width: 100px;*/
    z-index: 500;
    position: absolute;
    top: 2px;
    overflow: hidden;
}
div#imgtext{
     display:inline-block;
}

div#homeimg {
    position:relative;
    width: 100%;
    text-align: center;
    background: white;
    padding: 10px 0 1px 0;
}
div#homeimg img{
    display: block;
    height:400px;
    width: 500px;
    margin: auto;
}
div#imgtext {
    display: inline-block;
    position:absolute;
    bottom:10px;
}
div#imgtext p{
    text-align: center;
}
div#home_text{
    display: inline-block;
}
div#home_text > p{
     text-align: center;
}
div#products{
    /*position:absolute;*/
    width: 100%;
    height: 700px;
    /*left: 300px;*/
}
/*푸터 하단고정 need*/
div#footer{
    /*position: absolute;*/
}

.product{
    display:inline-block;
    height: 120px;
}



