{% extends "base.html" %}

{% block title %}photo_detail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

{% block content %}
<div id="content">
    <h2>{{ object.title }}</h2>
    <table class="photo-detail">
        <tr>
            <td>
                <a href="{{ object.image.url }}">
{#                    <img style="max-width:100%;" src="{{ object.image.url }}" />#}
                    <img style="width:100%; height: 100%; object-fit:contain" src="{{ object.image.url }}" />
                </a>
            </td>
            <td>
                <ul>
                    <li>설명</li>
                    {% if object.description %}
                        <p>{{ object.description|linebreaks }}</p>
                    {% else %}
                        <p>(blank)</p>
                    {% endif %}
                    <li>등록 일시</li>
                    <p>{{ object.upload_date }}</p>
                    <!--https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs-->
                    <li>앨범</li>
                    <p><a href="{% url 'photo:album_detail' object.album.id %}">{{ object.album.name }}</a></p>
                </ul>
            </td>
        </tr>
    </table>

    <!--문제1 추가(photo\detail.html)-->
        <p class="other_posts">
            {% if object.get_previous_by_upload_date %}
{#                {% if object.upload_date %}#}
                <a href="{{ object.get_previous_post.get_absolute_url }}">
                    &laquo;-- {{ object.get_previous_post }}
                </a>
            {% else %}
                맨처음 사진
            {% endif %}
            &nbsp;&nbsp; | &nbsp;&nbsp;
            {% if object.get_next_by_upload_date %}
                <a href="{{ object.get_next_post.get_absolute_url }}">
                    {{ object.get_next_post }} --&raquo;
                </a>
            {% else %}
                마지막 사진
            {% endif %}
        </p>


</div>
{% endblock %}
