{% extends "base.html" %}                   <!--base.html을 상속받는다고 선언-->

{% block title %}home.html{% endblock %}    <!--title 블록 재정의-->

<!--정적 파일인 css 연결하기 위하여, staticfiles를 로드-->
{% load staticfiles %}
<!--extrastyle 블록을 재정의하여 추가적으로 home.css 연결-->
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{% block content %}                         <!--content 블록 재정의-->

<div id="content_home">     <!--content_home 영역 정의-->

    <div id="homeimg">      <!--homeimg 영역 정의-->
        <img src="{% static 'img/tempus_home.jpg' %}" style="height:300px;"/>
        <h4 id="content">특별한 기념일, 소중한 추억 Tempus와 함께하세요</h4>
        <div id="homeimg-cover"></div>
    </div>
    <div id="home_text"></div>
        <p>WHY? 많은 사람들이 TEMPUS CANDLE을 사랑하는가?<br/>
            캔들 자체를 세워서 향이 풍부한 필라캔들<br/>
            용기에 담아 안정감이 충분한 컨테이너캔들<br/>
            두가지 장점을 모두 갖고있는 TEMPUS CANDLE<br/>
            <br/>
            눈으로 보는 시각, 심지가 타는 소리 청각,<br/>
            은은하게 퍼지는 향기 후각, 만질 수 있는 촉각<br/>
            이렇게 총 4가지 감각을 다 사용하는 저장매체</p>
    </div>
    <hr style="margin: 100px 0;">     <!--그림 및으로 5px 간격을 두고 수평선 넣기-->

    <div id="products">
        <div class="product">
            <a href="#"><img src="{% static 'img/candle_cherry.png' %}" style="height:100px;"/></a>
            <h5>[템푸스] 하트병캔들 블랙체리</h5>
        </div>
        <div class=product">
            <a href="#"><img src="{% static 'img/candle_blue.png' %}" style="height:100px;"/></a>
            <h5>[템푸스] 하트병캔들 코튼블루</h5>
         </div>
        <div class=product">
            <a href="#"><img src="{% static 'img/candle_jasmin.png' %}" style="height:100px;"/></a>
            <h5>[템푸스] 하트병캔들 쟈스민</h5>
         </div>
        <div class=product">
            <a href="#"><img src="{% static 'img/candle_summer.png' %}" style="height:100px;"/></a>
            <h5>[템푸스] 하트병캔들 미드썸머나잇</h5>
         </div>
        <div class=product">
            <a href="#"><img src="{% static 'img/candle_lavender.png' %}" style="height:100px;"/></a>
            <h5>[템푸스] 하트병캔들 라벤더</h5>
        </div>
    </div>


    <table id="applist">
        <tr>
        <td><b><i><a href="#">책갈피</a></i><b></td>
        <td>당신의 책갈피를 등록하고 다른 사람들과 공유할 수 있습니다. 어쩌구 저쩌구. 중얼중얼.</td>
        <td id="Edit"><i><a href="#">등록</a></i></td>
        <td id="Edit"><i><a href="#">편집</a></i></td>
        </tr>

        <tr>
        <td><b><i><a href="#">게시판</a></i><b></td>
        <td>당신의 게시물을 등록하고 다른 사람들과 공유할 수 있습니다. 어쩌구 저쩌구.</td>
        <td id="Edit"><i><a href="#">등록</a></i></td>
        <td id="Edit"><i><a href="#">편집</a></i></td>
        </tr>

        <tr>
        <td><b><i><a href="#">사진첩</a></i><b></td>
        <td>당신의 사진을 등록하고 다른 사람들과 공유할 수 있습니다. 어쩌구 저쩌구.</td>
        <td id="Edit"><i><a href="#">등록</a></i></td>
        <td id="Edit"><i><a href="#">편집</a></i></td>
        </tr>
    </table>
</div>
{% endblock content %}

{% block footer %}                      <!--footer 블록 재정의-->
<div id="footer">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/Copyleft.svg/220px-Copyleft.svg.png"
         height="12" width="12" /> acobyeal
</div>
{% endblock footer %}
